@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Importanto fonte Inter */


/* Removendo margens e formatação padrão */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
/* Fundo da página e fontes */
body {
    font-family: 'Inter', sans-serif; 
    background: linear-gradient(135deg, #111, #333); 
    color: #383838;
}
/* Estilo do cabeçalho */
header {
    background: linear-gradient(135deg, #111, #333);
    padding: 20px 0;
    transition: background-color 0.3s ease-in-out;
}
/* Cor barra de navegação */
nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Estilo dos links de navegação, com arrendodamento, espaço e transição de cor */
nav li {
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}
/* Cor diferente ao passar o mouse nas palavras da barra de navegação */
nav a:hover {
    color: #f02626;
    text-decoration: underline;
}
/* Altera a cor de fundo dos links de navegação ao passar o mouse */
nav li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
section {
    padding: 40px;
}
/* Estilo da barra de navegação */
.menu {
    display: flex;
    justify-content: center; /* Centraliza as abas */
    padding: 10px 0; 
    background-color: rgba(0, 0, 0, 0.5);
}
/* Estilo dos links da barra de navegação */
.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}
.menu li {
    margin: 0 10px; /* Espaçamento entre as abas */
    padding: 8px 12px; /* Espaçamento interno para aumentar a largura da aba */
    border-radius: 10px; /* Borda arredondada */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
}
.menu a {
    text-decoration: none;
    color: #fff; /* Cor original dos links */
    font-weight: bold;
    font-size: 16px;
}
.menu li a::before { 
    content: "\2022"; /* Adiciona um círculo para as abas */
    margin-right: 5px; /* Espaço entre o circulo e o texto */
    font-size: 20px; /* Tamanho do circulo */
}
.menu a:hover {  
    text-decoration: underline; /* Altera o estilo dos links quando o mouse passa por cima */
}

/* Caixa do conteudo de cada link */
section {
    padding: 40px;
    margin: 0 auto; 
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Código para Estilo da Assinatura em todos os links: */
.assinatura {
    text-align: center; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
}

/* Código para Início.html: */
.conteudoinicio {
    display: flex; /* forma e centralização do conteúdo */
    align-items: center; 
}
.textoinicio {
    flex: 1; /* Ocupa o máximo de espaço possível */
}
.textoinicio p {
    line-height: 1.5; /* Espaçamento entre as linhas */
}
.imageminicio {
    margin-left: 20px; /* coloca imagem à direita */
}

/* Código para Sobremim.html: */
.conteudosobremim {
    display: flex; /* forma e centralização do conteúdo */
    align-items: center; 
}
.textosobremim {
    flex: 1; /* Ocupa o máximo de espaço possível */
}
.textosobremim p {
    line-height: 2.0; /* Espaçamento entre as linhas */
}
.imagemsobremim {
    margin-left: 20px;
    margin-top: -740px; /* coloca imagem à direita */
}

/* Código para Contato.html: */
.input-group {
    display: flex;  /* Definição do estilo das caixas de input e margem */
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group label {
    margin-bottom: 5px; /* Distância entre label e caixa do input */
}
.small-input {
    width: 200px; /* Largura desejada para caixas de input do e-mail e nome */
}

/* Código para Portfolio.html: */
.textoportfolio a {
    display: inline-block; /* Faz com que os "Clique Aqui" do portfólio pareçam botões */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f02626; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.textoportfolio a:hover {
    background-color: #9c1c1c; /* Altera a cor ao passar o mouse no "Clique Aqui" */
}